<!DOCTYPE html>
<html>
<head>
  <title>Peter's PetStores</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <ul>
    <li><a href="/pets">Pets</a></li>
    <li><a href="/stores">Stores</a></li>
    <li><a href="/">Home</a></li>
  </ul>

<%= yield %>


</body>
</html>